.PostConstructorBody {}

.PostConstructorBody textarea {
    text-indent: 10px;
    text-transform: capitalize;
    min-width: 100px;
    border: 1px solid grey;
    position: relative;
    top: 15px;
}

.PostConstructorBody label {
    font-size: 22px;
}